.section-b {
  padding-bottom: 94px;
  .section-b__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;
  }
}

.section-b-list {
  display: flex;
  justify-content: center;
  .section-b-list__item {
    position: relative;
  }
  .section-b-list__item:not(:last-child) {
    margin-right: 30px;
  }

  .section-b-list__info {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-text-color);
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    padding: 27px;
    position: absolute;
    bottom: 0;
  }
}
